<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="error-container" align="center">

      <div class="error-code">
        405
      </div>

      <div class="error-message">
        Method Not Allowed<br>
        <p>Don't freak out! You may have made a wrong turn but everyone<br> makes mistakes.</p>

        <div class="error-buttons clearfix1">
            <a href="#" class="button small-button button-blue">Back to dashboard</a>
            <a href="#" class="button small-button button-red">Contact support</a>
        </div>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.8.3.js"></script>
    <script src="js/ui/jquery-ui-1.9.2.custom.js"></script>

    <script src="js/uniform/jquery.uniform.js"></script>

    <script src="js/flot/excanvas.min.js"></script>
    <script src="js/flot/jquery.flot.js"></script>    
    <script src="js/flot/jquery.flot.pie.min.js"></script>
    <script src="js/flot/jquery.flot.resize.js"></script>
    <script src="js/flot/jquery.flot.orderBars.js"></script>

    <script src="js/sparkline/jquery.sparkline.js"></script>

    <script src="js/full-calendar/fullcalendar.js"></script>

    <script src="js/mouse-wheel/jquery.mousewheel.js"></script>

    <script src="js/file-tree/jqueryFileTree.js"></script>

    <script src="js/easy-pie-chart/jquery.easy-pie-chart.js"></script>

    <script src="js/cleditor/jquery.cleditor.js"></script>

    <script src="js/jquery-splitter/splitter.js"></script>

    <script src="js/cookie/jquery.cookie.js"></script>

    <script src="js/masonry/jquery.masonry.js"></script>

    <script src="js/masked/jquery.maskedinput.js"></script>

    <script src="js/powertip/jquery.powertip.js"></script>

    <script src="js/range-picker/daterangepicker.js"></script>
    <script src="js/range-picker/date.js"></script>

    <script src="js/fancybox/jquery.fancybox.js"></script>

    <script src="js/flexslider/jquery.flexslider.js"></script>

    <script src="js/tags-input/jquery.tagsinput.js"></script>

    <script src="js/form-validate/jquery.validate.js"></script>

    <script src="js/scrollbar/jquery.mCustomScrollbar.js"></script>

    <script src="js/debounced/debounced.js"></script>

    <script src="js/ibutton/jquery.ibutton.js"></script>

    <script src="js/password-meter/password_strength.js"></script>

    <script src="js/bootstrap-wizards/jquery.bootstrap.wizard.js"></script>

    <script src="js/rating/jquery.rating.js"></script>

    <script src="js/bootstrap.js"></script>

    <script src="js/chosen/chosen.jquery.js"></script>
    
    <script src="js/forms.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>
