<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link href="css/ie.css" rel="stylesheet">
    <![endif]-->                             
  </head>

  <body>

    <div class="loading"><img src="img/loaders/loader01.gif" alt=""></div>

    <header>
      <a href="#" class="logo"><img src="img/logoImage.png" alt=""></a>
      
      <span id="mobileNav"><img src="img/mobile-icon.png" alt=""></span>
      <span id="phoneNav"><img src="img/mobile-icon.png" alt=""></span>

      <div class="phone-menu">
        <ul>
          <li><a href="index.html"><span></span> Dashboard</a></li>
          <li><a href="#"><span></span> Forms <div class="subchild-arrow"></div></a>
            <ul>
              <li><a href="forms.html"><span></span> Form elements</a></li>
              <li><a href="form-wizards.html"><span></span> Form wizards</a></li>
              <li><a href="forms-validate.html"><span></span> Form validate</a></li>
              <li><a href="input-grid.html"><span></span> Input grid</a></li>
            </ul>
          </li>
          <li><a href="index.html"><span></span> Charts</a></li>
          <li><a href="#"><span></span> UI elements <div class="subchild-arrow"></div></a>
            <ul>
              <li><a href="ui.html"><span></span> Main UI elements</a></li>
              <li><a href="buttons.html"><span></span> Buttons</a></li>
              <li><a href="typography.html"><span></span> Typography</a></li>
              <li><a href="gallery.html"><span></span> Gallery</a></li>
            </ul>
          </li>
          <li><a href="index.html"><span></span> Chat</a></li>
          <li><a href="#"><span></span> Tables <div class="subchild-arrow"></div></a>
            <ul>
              <li><a href="standard-tables.html"><span></span> Standard tables</a></li>
              <li><a href="dynamic-tables.html"><span></span> Dynamic tables</a></li>
            </ul>
          </li>
          <li><a href="#"><span></span> Errors <div class="subchild-arrow"></div></a>
            <ul>
              <li><a href="403.html"><span></span> 403</a></li>
              <li><a href="404.html"><span></span> 404</a></li>
              <li><a href="405.html"><span></span> 405</a></li>
              <li><a href="500.html"><span></span> 500</a></li>
              <li><a href="502.html"><span></span> 502</a></li>
              <li><a href="offline.html"><span></span> Offline</a></li>
            </ul>
          </li>
          <li class="active"><a href="#"><span></span> Other <div class="subchild-arrow"></div></a>
            <ul>
              <li><a href="inbox.html"><span></span> Inbox template</a></li>
              <li class="active"><a href="inbox_template.html"><span></span> Inbox template v2</a></li>
              <li><a href="profile.html"><span></span> Profile page</a></li>
              <li><a href="search-result.html"><span></span> Search result</a></li>
              <li><a href="file-manager.html"><span></span> File manager</a></li>
              <li><a href="invoice.html"><span></span> Invoice</a></li>
              <li><a href="search-result.html"><span></span> Search results</a></li>
              <li><a href="tabbed-page.html"><span></span> Tabbed page</a></li>
              <li><a href="login.html"><span></span> Login</a></li>
              <li><a href="loginv2.html"><span></span> Login v2</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <ul class="header-actions">
        <li><a href="#"><img src="img/icon/14x14/header/messages.png" alt=""></a>
          <!-- Messages drop down -->
          <div class="dropdown">
            <div class="dropdown-inner">
              <div class="summary">
                <span><strong>Messages</strong> (6) emails and (2) PM</span>
              </div>
              <a href="#" class="dropdown-block clearfix">
                <img class="avatar" src="img/avatar_01.png" alt="Profile image">
                <div class="result">
                  <span class="head"><strong>Jason Bourne</strong> <i>1 hour ago</i></span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </div>
              </a>
              <a href="#" class="dropdown-block clearfix">
                <img class="avatar" src="img/avatar_02.png" alt="Profile image">
                <div class="result">
                  <span class="head"><strong>Adamova Sharapova</strong> <i>3 hour ago</i></span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </div>
              </a>
              <a href="#" class="dropdown-block clearfix">
                <img class="avatar" src="img/avatar_03.png" alt="Profile image">
                <div class="result">
                  <span class="head"><strong>Angelina Jozek</strong> <i>1 day ago</i></span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </div>
              </a>
              <a href="#" class="dropdown-block clearfix">
                <img class="avatar" src="img/avatar_04.png" alt="Profile image">
                <div class="result">
                  <span class="head"><strong>Maria Gomez</strong> <i>2 days ago</i></span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </div>
              </a>
              <div class="dropdown-footer" align="right">
                <a href="#" class="all-messages">View all messages</a>
              </div>
            </div>
          </div>
          <!-- Messages drop down -->
        </li>
        <li><a href="#"><img src="img/icon/14x14/header/notification.png" alt=""></a>
          <!-- Notification drop down -->
          <div class="dropdown">
            <div class="dropdown-inner">
              <div class="summary">
                <span><strong>Notifications</strong> (2) alerts and (1) info</span>
              </div>
              <div class="dropdown-block clearfix">
                <div class="result">
                  <p>You are reaching your server diskspace. Please make sure you arrange more diskspace for your security...</p>
                </div>
              </div>
              <div class="dropdown-block clearfix">
                <div class="result">
                  <p>Scheduled system back-up on 02 February 2013 at 00:00...</p>
                </div>
              </div>
              <div class="dropdown-block clearfix">
                <img class="avatar" src="img/avatar_04.png" alt="Profile image">
                <div class="result">
                  <span class="head"><strong>Maria Gomez</strong> <i>2 days ago</i></span>
                  <p>has updated her profile...</p>
                </div>
              </div>
              <div class="dropdown-footer" align="right">
                <a href="#" class="all-messages">View all notifications</a>
              </div>
            </div>
          </div>
          <!-- Notification drop down -->
        </li>
        <li><a href="#"><img src="img/icon/14x14/header/settings.png" alt=""></a>
          <!-- Settings drop down -->
          <div class="dropdown">
            <div class="dropdown-inner">
              <div class="summary">
                <strong>Settings</strong> for your site</span>
              </div>
              <a href="#" class="dropdown-block clearfix">
                <span class="head"><img src="img/icon/14x14/light/cog.png" alt=""> Change site settings</span>
              </a>
              <a href="#" class="dropdown-block dropdown-block clearfix">
                <span class="head"><img src="img/icon/14x14/light/box1.png" alt=""> Plugins</span>
              </a>
              <a href="#" class="dropdown-block clearfix">
                <span class="head"><img src="img/icon/14x14/light/grid.png" alt=""> Change theme</span>
              </a>
            </div>
          </div>
          <!-- Settings drop down -->
        </li>
        <li><a href="#"><img src="img/icon/14x14/header/out.png" alt=""></a></li>
      </ul> 
    </header>

    <div class="mainNavigation">
      <div class="innerNavigation">
        <div class="profile clearfix">
          <a href="#"><img src="img/avatar_02.png" alt="Profile image"></a>
          <div class="profile-options">
            <div class="basic">
              <div class="info clearfix">
                <span class="name">Bernad Delic</span>
                <span class="message">8</span>
              </div>
              <div class="search">
                <div class="field">
                  <input type="text" class="span12" placeholder="Search for something...">
                  <a href="#" class="button-turquoise"><img src="img/search-icon.png" alt=""></a>
                </div>
              </div>
            </div>
            <div class="user-configuration" align="center">
              <a href="#"><img src="img/icon/14x14/header/messages.png" alt=""></a>
              <a href="#"><img src="img/icon/14x14/header/settings.png" alt=""></a>
              <a href="#"><img src="img/icon/14x14/header/notification.png" alt=""></a>
              <a href="#"><img src="img/icon/14x14/header/out.png" alt=""></a>
            </div>
          </div>
        </div> 
        <ul class="mainNav">
          <li><a href="index.html"><span><img src="img/icon/mainNav/dashboard.png"> Dashboard</span></a></li>
          <li class="dropdown"><a href="#"><span><img src="img/icon/mainNav/forms.png"> Forms</span></a>
            <ul>
              <li><a href="forms.html"><span></span> Form elements</a></li>
              <li><a href="form-wizards.html"><span></span> Form wizards</a></li>
              <li><a href="forms-validate.html"><span></span> Form validate</a></li>
              <li><a href="input-grid.html"><span></span> Input grid</a></li>
            </ul>
          </li>
          <li><a href="charts.html"><span><img src="img/icon/mainNav/chart.png"> Charts</span></a></li>
          <li class="dropdown"><a href="#"><span><img src="img/icon/mainNav/ui.png"> UI elements</span></a>
            <ul>
              <li><a href="ui.html"><span></span> Main UI elements</a></li>
              <li><a href="buttons.html"><span></span> Buttons</a></li>
              <li><a href="typography.html"><span></span> Typography</a></li>
              <li><a href="gallery.html"><span></span> Gallery</a></li>
            </ul>
          </li>
          <li><a href="chat.html"><span><img src="img/icon/mainNav/chat.png"> Chat</span></a></li>
          <li class="dropdown"><a href="#"><span><img src="img/icon/mainNav/tables.png"> Tables</span></a>
            <ul>
              <li><a href="standard-tables.html"><span></span> Standard tables</a></li>
              <li><a href="dynamic-tables.html"><span></span> Dynamic tables</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span><img src="img/icon/mainNav/error.png"> Errors</span></a>
            <ul>
              <li><a href="403.html"><span></span> 403</a></li>
              <li><a href="404.html"><span></span> 404</a></li>
              <li><a href="405.html"><span></span> 405</a></li>
              <li><a href="500.html"><span></span> 500</a></li>
              <li><a href="502.html"><span></span> 502</a></li>
              <li><a href="offline.html"><span></span> Offline</a></li>
            </ul>
          </li>
          <li class="active dropdown"><a href="#"><span><img src="img/icon/mainNav/other.png"> Other</span></a>
            <ul>
              <li><a href="inbox.html"><span></span> Inbox template</a></li>
              <li class="active"><a href="inbox_template.html"><span></span> Inbox template v2</a></li>
              <li><a href="profile.html"><span></span> Profile page</a></li>
              <li><a href="search-result.html"><span></span> Search result</a></li>
              <li><a href="file-manager.html"><span></span> File manager</a></li>
              <li><a href="invoice.html"><span></span> Invoice</a></li>
              <li><a href="search-result.html"><span></span> Search results</a></li>
              <li><a href="tabbed-page.html"><span></span> Tabbed page</a></li>
              <li><a href="login.html"><span></span> Login</a></li>
              <li><a href="loginv2.html"><span></span> Login v2</a></li>
              <li><a href="#.html"><span></span> Third menu <div class="subchild-arrow"></div></a>
                <ul>
                  <li><a href="#"><span></span> Third child link</a></li>
                  <li><a href="#"><span></span> Third child link 2</a></li>
                  <li><a href="#"><span></span> Third child link 3</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <div class="nav-widget" align="center">
            <div class="chart" id="sales-current"></div>
            <h4>$52.384 <span><a href="#">March 2013</a></span></h4>
          </div>

          <div class="nav-widget">
            <h5>Diskspace usage:</h5>
            <div class="progress progress-info thin progress-striped">
              <div class="bar" style="width: 47%;"></div>
            </div>
            <h5>Monthly bandwidth:</h5>
            <div class="progress progress-danger thin progress-striped">
              <div class="bar" style="width: 87%;"></div>
            </div>
            <h5>Sql databases:</h5>
            <div class="progress progress-success thin progress-striped">
              <div class="bar" style="width: 27%;"></div>
            </div>
          </div>

          <div class="nav-widget" align="center">
            <div class="chart" id="sales-current2"></div>
            <h4>$352.384 <span><a href="#">April 2013</a></span></h4>
          </div>

          <div class="nav-widget" align="center">
            <a href="#" class="mainNav-button"><img src="img/icon/24x24/cog.png" alt=""></a>
            <a href="#" class="mainNav-button"><img src="img/icon/24x24/calendar.png" alt=""></a>
            <a href="#" class="mainNav-button"><img src="img/icon/24x24/folder.png" alt=""></a>
            <a href="#" class="mainNav-button"><img src="img/icon/24x24/plus.png" alt=""></a>
          </div>

          <div class="nav-widget">
            <div class="flexslider-nav">
              <ul class="slides">
                <li>
                  <div class="download-report">
                    <img src="img/icon/icon_PDF.png" alt="">
                    <span>April 2013</span>
                    <a href="#">Download</a>
                  </div>
                </li>
                <li>
                  <div class="download-report">
                    <img src="img/icon/table-excel-icon.png" alt="">
                    <span>March 2013</span>
                    <a href="#">Download</a>
                  </div>
                </li>
                <li>
                  <div class="download-report">
                    <img src="img/icon/word.png" alt="">
                    <span>February 2013</span>
                    <a href="#">Download</a>
                  </div>
                </li>
                <!-- items mirrored twice, total of 12 -->
              </ul>
            </div>
          </div>
        </ul>
        <div class="submenus">
          <div class="message-navigation">
            <div class="button-container">
              <a href="#compose" role="button" data-toggle="modal" class="button small-button button-orange">Create message</a>
            </div>
            <h5>Mailboxes</h5>
            <ul>
              <li class="active"><a href="#"><img src="img/icon/14x14/light/download5.png" alt=""> Inbox <span>6</span></a></li>
              <li><a href="#"><img src="img/icon/14x14/light/upload4.png" alt=""> Sent</a></li>
              <li><a href="#"><img src="img/icon/14x14/light/pin.png" alt=""> Pinned</a></li>
              <li><a href="#"><img src="img/icon/14x14/light/tag1.png" alt=""> Drafts <span>2</span></a></li>
              <li><a href="#"><img src="img/icon/14x14/light/trash.png" alt=""> Trash</a></li>
            </ul>

            <h5>Groups</h5>
            <ul>
              <li><a href="#">All mail</a></li>
              <li><a href="#">Spam</a></li>
            </ul>

            <h5>Marked</h5>
            <ul>
              <li><a href="#">Mark group1</a></li>
              <li><a href="#">Mark group2</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="content">
      <div class="top-bar">
        <div class="breadcrumbs fLeft">
          <ul class="breadcrumb">
            <li class="active">Message system</li>
          </ul>
        </div>

        <ul class="bar-actions">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="img/icon/14x14/light/plus.png" alt=""> Monthly invoices <img class="arrow" src="img/arrow-down.png" alt=""></a>
            <ul class="dropdown-menu pull-right">
              <li><a href="#"><img src="img/icon/14x14/light/download4.png" alt=""> Download statistic</a></li>
              <li><a href="#"><img src="img/icon/14x14/light/plus.png" alt=""> Make new report</a></li>
              <li class="last-child"><a href="#"><img src="img/icon/14x14/light/trash.png" alt=""> Delete all</a></li>
            </ul>
          </li>
          <li><a href="#"><img src="img/icon/14x14/light/box2.png" alt=""> New orders</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="img/icon/14x14/light/download4.png" alt=""> Monthly reports <img class="arrow" src="img/arrow-down.png" alt=""></a>
            <ul class="dropdown-menu pull-right">
              <li><a href="#"><img src="img/icon/14x14/light/download4.png" alt=""> Download statistic</a></li>
              <li><a href="#"><img src="img/icon/14x14/light/plus.png" alt=""> Make new report</a></li>
              <li class="last-child"><a href="#"><img src="img/icon/14x14/light/trash.png" alt=""> Delete all</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="page-info clearfix">
        <div class="email-actions">
          <ul>
            <li><a href="#"><img src="img/icon/14x14/light/refresh2.png" alt=""> Reply</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="img/icon/14x14/light/trash.png" alt=""> Delete <img class="arrow" src="img/arrow-down.png" alt=""></a>
              <ul class="dropdown-menu pull-left">
                <li><a href="#">Delete selected</a></li>
                <li><a href="#"> Delete all</a></li>
              </ul>
            </li>
            <li><a href="#"><img src="img/icon/14x14/light/windows.png" alt=""> Junk</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="img/icon/14x14/light/random5.png" alt=""> Mark as <img class="arrow" src="img/arrow-down.png" alt=""></a>
              <ul class="dropdown-menu pull-left">
                <li><a href="#">Read</a></li>
                <li><a href="#">Unread</a></li>
                <li><a href="#">Flagged</a></li>
                <li><a href="#">Unflagged</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="img/icon/14x14/light/arrows5.png" alt=""> Move to <img class="arrow" src="img/arrow-down.png" alt=""></a>
              <ul class="dropdown-menu pull-left">
                <li><a href="#">Inbox</a></li>
                <li><a href="#">Junk</a></li>
                <li><a href="#">Drafts</a></li>
                <li><a href="#">Sent</a></li>
                <li class="last-child"><a href="#">Deleted</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="img/icon/14x14/light/home5.png" alt=""> Categories <img class="arrow" src="img/arrow-down.png" alt=""></a>
              <ul class="dropdown-menu pull-left">
                <li><a href="#">Important</a></li>
                <li><a href="#">Personal</a></li>
                <li><a href="#">Work</a></li>
                <li><a href="#">Travel</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <ul class="quick-actions">
          <li><a class="sidebar" data-toggle="n-tooltip" title="Hide/show sidebar" href="#"><img src="img/icon/14x14/light/random5.png" alt=""></a></a></li>
          <li><a data-toggle="n-tooltip" title="Homepage refresh" href="#"><img src="img/icon/14x14/light/home5.png" alt=""></a></li>
          <li><a data-toggle="n-tooltip" title="Change some settings" href="#"><img src="img/icon/14x14/light/cog2.png" alt=""></a></li>
          <li class="active"><a data-toggle="n-tooltip" title="Charts auto-refresh" href="#"><img src="img/icon/14x14/light/refresh2.png" alt=""></a></li>
          <li><a data-toggle="n-tooltip" title="Add something" href="#"><img src="img/icon/14x14/light/plus.png" alt=""></a></li>
        </ul>
      </div>

      <div class="messages_template">
        <div class="list-messages">
          <div class="list">
            <div class="timer">
              Today
            </div>
            <div class="recieved-item">
              <div class="recieved-header">
                <a href="#" class="name"><span class="color"></span>Lorem ipsum</a>
                <div class="info">
                  <span class="time">14:39</span>
                  <a href="#" class="pin"></a>
                  <a href="#" class="arrow down"></a>
                </div>
              </div>
              <div class="recieved-content">
                <span>Qui dolorem ipsum quia dolor sit...</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
              </div>
            </div>
            <div class="recieved-item">
              <div class="recieved-header">
                <a href="#" class="name"><span class="color blue"></span>Odio dignissimos</a>
                <div class="info">
                  <span class="time">14:27</span>
                  <a href="#" class="pin unpinned"></a>
                  <a href="#" class="arrow down"></a>
                </div>
              </div>
              <div class="recieved-content">
                <span><img src="img/attachment.png" alt="">Qui dolorem ipsum quia dolor sit...</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
              </div>
            </div>
            <div class="recieved-item">
              <div class="recieved-header">
                <a href="#" class="name"><span class="color yellow"></span>Voluptatum</a>
                <div class="info">
                  <span class="time">14:05</span>
                  <a href="#" class="pin unpinned"></a>
                  <a href="#" class="arrow down"></a>
                </div>
              </div>
              <div class="recieved-content">
                <span>Qui dolorem ipsum quia dolor sit...</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
              </div>
            </div>
            <div class="timer">
              Yesterday
            </div>
            <div class="recieved-item">
              <div class="recieved-header">
                <a href="#" class="name"><span class="color green"></span>Quidem rerum</a>
                <div class="info">
                  <span class="time">12:19</span>
                  <a href="#" class="pin"></a>
                  <a href="#" class="arrow down"></a>
                </div>
              </div>
              <div class="recieved-content">
                <span><img src="img/attachment.png" alt="">Qui dolorem ipsum quia dolor sit...</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
              </div>
            </div>
            <div class="timer">
              Monday, 10 February 2013
            </div>
            <div class="recieved-item">
              <div class="recieved-header">
                <a href="#" class="name"><span class="color orange"></span>Magni dolores</a>
                <div class="info">
                  <span class="time">18:32</span>
                  <a href="#" class="pin"></a>
                  <a href="#" class="arrow down"></a>
                </div>
              </div>
              <div class="recieved-content">
                <span>Qui dolorem ipsum quia dolor sit...</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
              </div>
            </div>
            <div class="recieved-item">
              <div class="recieved-header">
                <a href="#" class="name"><span class="color blue"></span>Aspernatur</a>
                <div class="info">
                  <span class="time">10:22</span>
                  <a href="#" class="pin unpinned"></a>
                  <a href="#" class="arrow down"></a>
                </div>
              </div>
              <div class="recieved-content">
                <span>Qui dolorem ipsum quia dolor sit...</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque...</p>
              </div>
            </div>
            <div class="recieved-item">
              <div class="recieved-header">
                <a href="#" class="name"><span class="color green"></span>Quo voluptas</a>
                <div class="info">
                  <span class="time">21:30</span>
                  <a href="#" class="pin unpinned"></a>
                  <a href="#" class="arrow down"></a>
                </div>
              </div>
              <div class="recieved-content">
                <span><img src="img/attachment.png" alt="">Qui dolorem ipsum quia dolor sit...</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque...</p>
              </div>
            </div>
            <div class="recieved-item">
              <div class="recieved-header">
                <a href="#" class="name"><span class="color yellow"></span>Again is there</a>
                <div class="info">
                  <span class="time">14:25</span>
                  <a href="#" class="pin unpinned"></a>
                  <a href="#" class="arrow down"></a>
                </div>
              </div>
              <div class="recieved-content">
                <span>Qui dolorem ipsum quia dolor sit...</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque...</p>
              </div>
            </div>
            <div class="recieved-item">
              <div class="recieved-header">
                <a href="#" class="name"><span class="color blue"></span>Consequuntur</a>
                <div class="info">
                  <span class="time">15:57</span>
                  <a href="#" class="pin unpinned"></a>
                  <a href="#" class="arrow down"></a>
                </div>
              </div>
              <div class="recieved-content">
                <span>Qui dolorem ipsum quia dolor sit...</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="read-messages">
          <div class="message-info">
            <span class="time">Today, 14:39, from <a href="#">Bernad Delic</a></span>
            <div class="actions">
              <a href="#">Reply to this message</a>
            </div>
          </div>
          <div class="message-content">
            <img src="preview/inboxpreview.png" alt="">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam...<br><br>
            <blockquote><i>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</i></blockquote>
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          </div>
          <div class="attachments">
            <img src="img/attachment.png" alt="">
            <a href="#">jquery.js · 68kb</a>
            <a href="#">readme.txt · 41kb</a>
            <a href="#" class="downloadall"><img src="img/icon/14x14/light/download4.png" alt="">Download all</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div id="compose" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="myModalLabel">Modal header</h5>
      </div>
      <div class="modal-body">
        <div class="row-fluid">
          <div class="span12">
            <form class="form-horizontal">
              <div class="form-row">
                <label class="field-name" for="standard">To:</label>
                <div class="field">
                  <input type="text" class="span12" name="standard" id="standard" placeholder="Enter reciept email">
                </div>
              </div>
              <div class="form-row">
                <label class="field-name" for="standard">Subject:</label>
                <div class="field">
                  <input type="text" class="span12" name="standard" id="standard" placeholder="Enter message subject">
                </div>
              </div>
              <div class="form-row">
                <label class="field-name" for="standard">Subject:</label>
                <div class="field">
                  <textarea class="span12" name="standard" id="standard" placeholder="Enter your message"></textarea>
                </div>
              </div>
              <div class="form-row">
                <label class="field-name" for="standard">Files:</label>
                <div class="field">
                  <input type="file" class="span12" name="standard" id="standard">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="button button-red" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="button button-blue">Send message</button>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.8.3.js"></script>
    <script src="js/ui/jquery-ui-1.9.2.custom.js"></script>

    <script src="js/uniform/jquery.uniform.js"></script>

    <script src="js/flot/excanvas.min.js"></script>
    <script src="js/flot/jquery.flot.js"></script>    
    <script src="js/flot/jquery.flot.pie.min.js"></script>
    <script src="js/flot/jquery.flot.resize.js"></script>
    <script src="js/flot/jquery.flot.orderBars.js"></script>

    <script src="js/sparkline/jquery.sparkline.js"></script>

    <script src="js/full-calendar/fullcalendar.js"></script>

    <script src="js/mouse-wheel/jquery.mousewheel.js"></script>

    <script src="js/file-tree/jqueryFileTree.js"></script>

    <script src="js/easy-pie-chart/jquery.easy-pie-chart.js"></script>

    <script src="js/cleditor/jquery.cleditor.js"></script>

    <script src="js/jquery-splitter/splitter.js"></script>

    <script src="js/cookie/jquery.cookie.js"></script>

    <script src="js/masonry/jquery.masonry.js"></script>

    <script src="js/masked/jquery.maskedinput.js"></script>

    <script src="js/powertip/jquery.powertip.js"></script>

    <script src="js/range-picker/daterangepicker.js"></script>
    <script src="js/range-picker/date.js"></script>

    <script src="js/fancybox/jquery.fancybox.js"></script>

    <script src="js/flexslider/jquery.flexslider.js"></script>

    <script src="js/tags-input/jquery.tagsinput.js"></script>

    <script src="js/form-validate/jquery.validate.js"></script>

    <script src="js/scrollbar/jquery.mCustomScrollbar.js"></script>

    <script src="js/debounced/debounced.js"></script>

    <script src="js/ibutton/jquery.ibutton.js"></script>

    <script src="js/password-meter/password_strength.js"></script>

    <script src="js/bootstrap-wizards/jquery.bootstrap.wizard.js"></script>

    <script src="js/rating/jquery.rating.js"></script>

    <script src="js/bootstrap.js"></script>

    <script src="js/chosen/chosen.jquery.js"></script>
    
    <script src="js/forms.js"></script>
    <script src="js/main.js"></script>

    <script>
      $(window).load(function() {
        $('.loading').hide();
      });
    </script>

  </body>
</html>
